/* Base styles for all divs */
div {
  border: 20px solid #000; /* This sets the border width, type, and color */
  display: inline-block; /* Positioning elements inline-block for layout */
  min-width: 20em; /* Minimum width for the divs */
  min-height: 25em; /* Minimum height for the divs */
  border-radius: 50%; /* Makes the divs circular */
  border-left-color: transparent; /* Hide left border color */
  border-right-color: transparent; /* Hide right border color */
  border-bottom-color: transparent; /* Hide bottom border color */
}

/* Specific border-top-color for each colored div */
#red {
  border-top-color: #f00; /* Red color */
}

#orange {
  border-top-color: #ffa500; /* Orange color */
}

#yellow {
  border-top-color: #ff0; /* Yellow color */
}

#green {
  border-top-color: #00bc3f; /* Green color */
}

#blue {
  border-top-color: #06f; /* Blue color */
}

#indigo {
  border-top-color: #8a2be2; /* Indigo color */
}

#violet {
  border-top-color: #d300c9; /* Violet color */
}
